.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 247px);
}

.link {
    margin-top: 20px;
    color: #38588b;
    font-weight: 400;
}